body {
    display: block;
    width:100%;
    margin:0;
    padding:0;
    color:#666;
    font-family: "helvetica neue",sans-serif;
    font-size:16px;
    overflow-x:hidden;
}
h1
{
    font-size:42px;
    font-weight:800;
    margin-top:0;
}
.headerLeft {
    display:block;
    position:fixed;
    z-index:100;
    width:200px;
    height:60px;
    font-size:18px;
    background-color:#fff;
    top:0;
}
.headerRight {
    display:block;
    position:fixed;
    width:60%;
    z-index:100;
    height:60px;
    font-size:18px;
    background-color:#fff;
    top:0;
    left:500px;
}
.pennant
{
    width:300px;
    height:140px; /**85 of which is soc icons**/
    display:block;
    position:fixed;
    z-index:100;
    background-color: #fff;
    top:0px;
    left:200px;
}
.leftPennant {
    width:150px;
    position:fixed;
    z-index:100;
    top:140px;
    left:200px;
    height:52px;
    background-image: url('../img/left_pennant.png');
}
.rightPennant {
    width:155px;
    position:fixed;
    z-index:100;
    top:140px;
    left:350px;
    height:52px;
    background-image: url('../img/right_pennant.png');
}
.socPlugins
{
    margin:20px 0 20px 40px;
    display:block;
    float:left;
}
.menuItem
{
    height:20px;
    line-height:23px;
    padding:20px;
    min-width:60px;
    text-align: center;
    display:block;
    float:right;
    cursor:pointer;
}
.right40 {
    margin-right:40px;
}
.left40 {
    margin-left:40px;
}
.opacity95 {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    filter: alpha(opacity=95);
    -moz-opacity: 0.95;
    -khtml-opacity: 0.95;
    opacity: 0.95;
}
.boxBottomShadow
{
    box-shadow: 2px 2px 2px rgba(68,68,68,0.5);
}
.main {
    width:100%;
    min-height:700px;
    display:block;
    position: absolute;
    top:0;
    background-color: #efefef;
    z-index:1;
    overflow:hidden;
}
.lcc_logo_80 {
    height:80px;
    width:270px;
    margin:20px 0 0 20px;
    display: block;
    background-image: url('../img/lcc_logo.png');
    background-position: top left;
    background-repeat: no-repeat;
}
.lcc_caption {
    font-size:12px;
    width:100%;
    text-align:center;
    line-height:16px;
    display:block;
    margin:10px 0;
}
.lcc_socIcons {
    width:160px;
    height:85px;
    display:block;
    margin: 0 auto;
    text-align: center;
}
.lcc_icon {
    margin:0 10px 10px 10px;
    width:32px;
    height:32px;
    display:block;
    float:left;
    cursor:pointer;
}
.lcc_fb
{
    background-image: url('../img/icon_facebook.png');
}
.lcc_tw
{
    background-image: url('../img/icon_twitter.png');
}
.lcc_em
{
    background-image: url('../img/icon_email.png');
}
.lcc_yp
{
    background-image: url('../img/icon_yelp.png');
}
.lcc_fs
{
    background-image: url('../img/icon_foursquare.png');
}
.lcc_fl
{
    background-image: url('../img/icon_flickr.png');
}
.box {
    width:100%;
    min-height:600px;
    display:block;
    position: relative;
    z-index:1;
}
.boxPanel {
    width:900px;
    height:600px;
    position:relative;
    left:50%;
    margin-left:-450px;
    display: block;
}
.boxPanelLeft{
    width:400px;
    height:550px;
    margin:50px 50px 0 0;
    display:block;
    float:left;
}
.boxPanelRight{
    width:450px;
    height:550px;
    margin:50px 0 0 0;
    display:block;
    float:left;
}
.boxPanelRevLeft{
    width:450px;
    height:550px;
    margin:50px 50px 0 0;
    display:block;
    float:left;
}
.boxPanelRevRight{
    width:400px;
    height:550px;
    margin:50px 0 0 0;
    display:block;
    overflow:hidden;
    float:left;
}
.kcec {
    background-image: url('../img/keep_calm_eat_candy.png');
    background-repeat: no-repeat;
    background-position:center center;
    width:120px;
    height:200px;
    display:block;
    position:fixed;
    z-index:100;
    background-color:#3D60A9;
    bottom:0px;
    left:100%;
    margin-left:-140px;
    box-shadow: -2px -2px 2px rgba(68,68,68,0.5);
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.gallery {
    background-image: url('../img/blue_triangle.png'),url('../img/gallery/g1.jpg');
    background-size:20px 20px,100% 100%;
    background-position: bottom left,top left;
    background-repeat:repeat-x,no-repeat;
    height:600px;
    box-shadow: 0 -4px 2px rgba(68,68,68,0.5);
}
.galleryCaption
{
    font-size:38px;
    height:42px;
    line-height: 42px;
    display:block;
    position:relative;
    top:440px;
    left:200px;
    z-index:3;
    color:#fff;
    text-shadow:0 -2px 1px rgba(68,68,68,0.5);
}
.candy
{

}
.menuCandy:hover {
    background-color:#c5E1F3;
    background-image:url('../img/blue_check.png');
    background-repeat: repeat;
}
.menuDrinks:hover {
    background-image:url('../img/pink_stripe.png');
    background-repeat: repeat;
    background-position:top left;
}
.menuFun:hover {
    background-image:url('../img/funfacts_bg.png');
    background-repeat: repeat;
    background-position:top left;
}
.menuFriends:hover {
    background-image:url('../img/friends_bg.png');
    background-repeat: repeat;
    background-position:top left;
    color:#efefef;
}
/** CANDY STYLING**/
.candyBg
{
    background-color:#c5E1F3;
    background-image:url('../img/blue_check.png');
    background-repeat: repeat;
    height:600px;
}
.candyHeader {
    color:#336699;
}
.candyText
{
    color:#993333;
    font-size:18px;
}
.largeCircle {
    width:260px;
    height:260px;
    display:block;
    -webkit-border-radius: 130px;
    -moz-border-radius: 130px;
    border-radius: 130px;
    box-shadow: inset 1px 1px 2px rgba(68,68,68,0.5);
    position:relative;
    border:1px solid #999;
    left:100px;
    top:140px;
    background-image: url('../img/andy_murray.png');
    background-repeat: no-repeat;
    background-size: auto auto;
}
.smallCircle {
    width:120px;
    height:120px;
    display:block;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    position:relative;
    border:1px solid #999;
    z-index:1;
}
.smallCircOne {
    left:40px;
    top:-230px;
    background-image: url('../img/circle_pic_one.png');
    box-shadow: inset 1px 1px 2px rgba(239,239,239,0.5);
}
.smallCircTwo {
    left:290px;
    top:-380px;
    background-image: url('../img/circle_pic_one.png');
    box-shadow: inset 1px 1px 2px rgba(120,120,120,0.5);
}
.smallCircThree {
    left:0px;
    top:-120px;
    background-image: url('../img/circle_pic_one.png');
    box-shadow: inset 1px 1px 2px rgba(239,239,239,0.5);
}
.smallCircFour {
    left:260px;
    top:-220px;
    background-image: url('../img/circle_pic_one.png');
    box-shadow: inset 1px 1px 2px rgba(239,239,239,0.5);
}
/** DRINKS STYLING **/
.drinksPhoto
{
    background-image:url('../img/drinks_photo.png');
    background-position: left center;
    background-repeat: no-repeat;
    height:530px;
    width:400px;
    display:block;
}
.drinksBg
{
    background-image:url('../img/blue_triangle_down.png'),url('../img/pink_stripe.png');
    background-repeat: repeat-x,repeat;
    background-position:top left,top left;
    height:500px;
}
.drinksHeader {
    color:#336699;
    text-align: right;
}
.drinksText
{
    color:#444;
    text-align:right;
    font-size:18px;
}
/** EVENTS **/
.eventsBg
{
    height:700px;
    background-image:url('../img/yellow_triangle_up.png'), url('../img/events_bg.png');
    width:100%;
    background-size: auto auto, 100% 100%;
    background-position:bottom left, top left;
    background-repeat: repeat-x,no-repeat;
    display: block;
    box-shadow:0 -2px 4px rgba(68,68,68,0.4);

}
.eventsBox {
    margin: 0 0 0 40%;
    width:450px;
    padding:50px;
    background-color: rgba(68,68,68,0.35);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    display:block;
    position:absolute;
    top: 170px;
}
.eventsHeader {
    color:#efefef;
    text-shadow:0 -2px 2px rgba(68,68,68,0.5);
    margin-top:0;
}
.eventsText {
    color:#efefef;
    font-size:18px;
}
.funfactsBg {
    height:650px;
    background-image: url('../img/funfacts_bg.png');
    width:100%;
    background-repeat: repeat;
    display: block;

}
/** FUN FACTS**/
.funFactsHeader {
    color:#323232;
    text-align: right;
    padding-top:40px;
    text-shadow:-1px 1px 1px rgba(209,209,209,0.5);
}
.funfactsText {
    color:#bc2e2c;
    font-size:28px;
    text-shadow:1px 1px 1px rgba(209,209,209,0.5);
    text-align: right;
}
.funfactsDialler
{
    width:560px;
    height:560px;
    display: block;
    margin-top:50px;
    float:left;
}
.funfactNumber {
    width:100px;
    height:100px;
    position: absolute;
    display:block;
    border:1px solid #444;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-image: url('../img/dialler.png');
    text-align: center;
    line-height:100px;
    font-size:60px;
    font-weight: bold;
    color:#444;
    box-shadow: inset 1px 1px 2px rgba(68,68,68,0.5);
    text-shadow: 1px 1px 2px rgba(68,68,68,0.5);
    cursor: pointer;
}
.funfactsDiallerCenter {
    width:260px;
    height:260px;
    position: absolute;
    background-image: url('../img/howie_bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    left:150px;
    top:190px;
}
.funfactNumber:hover {
    background-image: url('../img/dialler_active.png');
    color:#efefef;
    text-shadow:0 -2px 1px rgba(68,68,68,0.5);
    box-shadow: inset 1px 1px 2px rgba(68,68,68,0.75);
}
.funfaceNumberActive {
    width:100px;
    height:100px;
    position: absolute;
    display:block;
    border:1px solid #444;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-image: url('../img/dialler.png');
    text-align: center;
    line-height:100px;
    font-size:60px;
    font-weight: bold;
    color:#444;
    box-shadow: inset 1px 1px 2px rgba(68,68,68,0.5);
    text-shadow: 1px 1px 2px rgba(68,68,68,0.5);
    cursor: default;
    background-image: url('../img/dialler_active.png');
    color:#efefef;
    text-shadow:0 -2px 1px rgba(68,68,68,0.5);
    box-shadow: inset 1px 1px 2px rgba(68,68,68,0.75);
}
.funfactOne
{
    top:50px;
    left:230px;
}
.funfactSix
{
    top:490px;
    left:230px;
}
.funfactTwo
{
    top:90px;
    left:380px;
}
.funfactTen
{
    top:90px;
    left:80px;
}
.funfactFive
{
    top:440px;
    left:380px;
}
.funfactSeven
{
    top:440px;
    left:80px;
}
.funfactThree
{
    top:200px;
    left:450px;
}
.funfactNine
{
    top:200px;
    left:0px;
}
.funfactFour
{
    top:330px;
    left:450px;
}
.funfactEight
{
    top:330px;
    left:0px;
}
.funfactsTextBox
{
    width:300px;
    height:560px;
    float:right;
    display:block;
    font-size:16px;
}
/** FRIENDS **/
.friendsBg {
    height:600px;
    background-image: url('../img/yellow_triangle_down.png'),url('../img/friends_bg.png');
    width:100%;
    background-position: top left,top left;
    background-repeat: repeat-x, repeat;
    display: block;
    box-shadow: 2px 2px 4px rgba(239,239,239,0.8);
    border-bottom:2px solid rgba(239,239,239,0.5);

}
.friendsHeader {
    width:55px;
    height:100%;
    display: block;
    float:left;
    background-image: url('../img/Friends_Header.png');
    background-position: 0 50px;
    background-repeat: no-repeat;
    position: relative;
}
.friendsPanel {
    width:800px;
    height:360px;
    margin:50px 0 0 0;
    display:block;
    float:right;
}
.friendsButtonPanel {
    width:80px;
    height:360px;
    display: block;
    float:left;
}
.friendsContentPanel {
    width: 560px;
    height: 320px;
    display: block;
    float:left;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color:rgba(255,255,255,0.5);
}
.friendsIcon {
    width:80px;
    height:80px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom:40px;
    background-color:rgba(255,255,255,0.5);
}
.friend_twitter {
    background-image: url('../img/grey_twitter.png');
    background-position:center center;
    background-repeat: no-repeat;
}
.friend_facebook {
    background-image: url('../img/grey_facebook.png');
    background-position:center center;
    background-repeat: no-repeat;
}
.newsPanel {
    width:800px;
    height:100px;
    display:block;
    float:right;
}
/** ABOUT PANEL**/
.aboutBg {
    height:600px;
    width:100%;
    background-image: url('../img/ribbon.png'),url('../img/about_bg.png');
    background-repeat: repeat-x,repeat;
    background-position: bottom left,top left;
    border-bottom:2px solid #444;
}
.aboutHeader {
    color:#efefef;
    text-shadow:0 -2px 1px rgba(68,68,68,0.5);
}
.aboutMap {
    width:400px;
    height:300px;
    display:block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px rgba(68,68,68,0.5);
    background:#fff;
}
.aboutText {
    color:#efefef;
    font-size:14px;
}
.aboutText .viewport { width:430px; height: 400px; overflow: hidden; display:block;position: relative; }
.aboutText .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
.aboutText .scrollbar{display:block;background-color:#444; position: relative; background-position: 0 0; float: right; width: 15px; }
.aboutText .track { background-color:#fff; height: 100%; width:15px; position: relative;border-radius:7px;}
.aboutText .thumb { background-color:transparent; height: 20px; width: 15px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
.aboutText .thumb .end { background-color:#323232; overflow: hidden; height: 5px; width: 25px; }

/**FOOTER**/
.footer {
    width:100%;
    height:80px;
    display: block;
    background-color: #0a0a0a;
}