body {
    display: block;
    width:100%;
    margin:0;
    padding:0;
    color:#666;
    font-family: "helvetica neue",sans-serif;
    font-size:16px;
    overflow-x:hidden;
    background-color:#323232;
}
a {
    text-decoration: none;
    color:#efefef;
}
h1
{
    font-size:42px;
    font-weight:800;
    margin-top:0;
}
.headerLeft {
    display:block;
    position:fixed;
    z-index:5;
    width:200px;
    height:60px;
    font-size:18px;
    background-color:#3D60A9;
    top:0;
}
.headerRight {
    display:block;
    position:fixed;
    z-index:5;
    height:60px;
    width:980px;
    font-size:18px;
    background-color:#3D60A9;
    top:0;
    left:401px;
}
.pennant
{
    width:201px;
    height:100px; /**85 of which is soc icons**/
    display:block;
    position:fixed;
    z-index:5;
    background-color: #fff;
    top:0px;
    left:200px;
    box-shadow:2px 0 2px rgba(68,68,68,0.5);
}
.leftPennant {
    width:100px;
    position:fixed;
    z-index:5;
    top:99px;
    left:200px;
    height:40px;
    background-image: url('../img/left_pennant.png');
    background-repeat: no-repeat;
}
.rightPennant {
    width:103px;
    position:fixed;
    z-index:5;
    top:99px;
    left:300px;
    height:40px;
    background-image: url('../img/right_pennant.png');
    background-repeat: no-repeat;
    background-position: top left;
}
.socPlugins
{
    margin:20px 0 20px 40px;
    display:block;
    float:left;
}
.menuItem
{
    height:20px;
    line-height:20px;
    padding:20px;
    min-width:60px;
    text-align: center;
    display:block;
    float:right;
    cursor:pointer;
    border-left:1px solid #3D60A9;
    border-right:1px solid #3D60A9;
    color:#fff;
}
.menuItem:hover{
    background-color:rgba(239,239,239,0.5);
    color:#323232;
    border-left:1px solid #5457A2;
    border-right:1px solid #5457A2;
}
.right40 {
    margin-right:40px;
}
.left40 {
    margin-left:40px;
}
.opacity95 {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    filter: alpha(opacity=95);
    -moz-opacity: 0.95;
    -khtml-opacity: 0.95;
    opacity: 0.95;
}
.opacity85 {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    filter: alpha(opacity=85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
}
.boxBottomShadow
{
    box-shadow: 2px 2px 2px rgba(68,68,68,0.5);
}
.main {
    width:100%;
    min-height:700px;
    display:block;
    position: absolute;
    top:0;
    background-color: #efefef;
    z-index:1;
    overflow:hidden;
}
.lcc_logo_80 {
    height:60px;
    width:160px;
    margin:10px 0 0 20px;
    display: block;
    background-image: url('../img/lcc_logo.png');
    background-position: top left;
    background-repeat: no-repeat;
    cursor:pointer;
}
.lcc_caption {
    font-size:12px;
    width:202px;
    background-color:transparent;
    text-align:center;
    line-height:16px;
    display:block;
    margin:5px 0;
    cursor:pointer;
}

.box {
    width:100%;
    min-height:600px;
    display:block;
    position: relative;
    z-index:1;
}
.boxPanel {
    width:900px;
    height:600px;
    position:relative;
    left:50%;
    margin-left:-450px;
    display: block;
}
.boxPanelLeft{
    width:400px;
    height:550px;
    margin:50px 50px 0 0;
    display:block;
    float:left;
}
.boxPanelRight{
    width:450px;
    height:550px;
    margin:50px 0 0 0;
    display:block;
    float:left;
}
.boxPanelRevLeft{
    width:450px;
    height:550px;
    margin:50px 50px 0 0;
    display:block;
    float:left;
}
.boxPanelRevRight{
    width:400px;
    height:550px;
    margin:50px 0 0 0;
    display:block;
    overflow:hidden;
    float:left;
}
.kcec {
    background-image: url('../img/keep_calm_eat_candy.png');
    background-repeat: no-repeat;
    background-position:center center;
    width:120px;
    height:200px;
    display:block;
    position:fixed;
    z-index:100;
    background-color:#3D60A9;
    bottom:0px;
    left:100%;
    margin-left:-140px;
    box-shadow: -2px -2px 2px rgba(68,68,68,0.5);
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.gallery {
    height:600px;
    box-shadow: 0 -4px 2px rgba(68,68,68,0.5);
    background-color:#232323;
}
.galleryImg {
    background-image:url('../img/gallery/g1.jpg');
    background-size:100% auto;
    background-position: top left;
    background-repeat:no-repeat;
    height:600px;
    overflow:hidden;
    position: relative;
    z-index:0;
    width:100%;
    background-color:#232323;
    box-shadow: 0 -4px 2px rgba(68,68,68,0.5);
}
.galleryCaption
{
    font-size:38px;
    height:42px;
    line-height: 42px;
    display:block;
    position:absolute;
    top:380px;
    width:800px;
    left:200px;
    z-index:20;
    font-style:italic;
    color:#fff;
    text-shadow:0 -2px 1px rgba(68,68,68,0.95);
}
.galleryQuote {
    font-size:24px;
    line-height: 42px;
    margin-right:20px;
    font-style:normal;
    text-shadow:0 -2px 1px rgba(68,68,68,0.85);
}
.candy
{

}
/** CANDY STYLING**/
.candyBg
{
    background-color:#c5E1F3;
    background-image:url('../img/blue_check.png');
    background-repeat: repeat;
    height:600px;
    box-shadow: 0 -2px 3px rgba(68,68,68,0.5);
}
.candyHeader {
    color:#336699;
}
.candyText
{
    color:#993333;
    font-size:18px;
}
.largeCircle {
    width:260px;
    height:260px;
    display:block;
    -webkit-border-radius: 130px;
    -moz-border-radius: 130px;
    border-radius: 130px;
    box-shadow: inset 1px 1px 2px rgba(68,68,68,0.5);
    position:relative;
    border:1px solid #999;
    left:100px;
    top:140px;
    background-image: url('../img/andy_murray.jpg');
    background-repeat: no-repeat;
    background-size: auto auto;
}
.smallCircle {
    width:120px;
    height:120px;
    display:block;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    position:relative;
    border:1px solid #999;
    z-index:1;
}
.smallCircOne {
    left:40px;
    top:-230px;
    background-image: url('../img/circle_pic_one.png');
    box-shadow: inset 1px 1px 2px rgba(239,239,239,0.5);
}
.smallCircTwo {
    left:290px;
    top:-380px;
    background-image: url('../img/circle_pic_four.png');
    box-shadow: inset 1px 1px 2px rgba(120,120,120,0.5);
}
.smallCircThree {
    left:0px;
    top:-120px;
    background-image: url('../img/circle_pic_three.png');
    box-shadow: inset 1px 1px 2px rgba(239,239,239,0.5);
}
.smallCircFour {
    left:260px;
    top:-220px;
    background-image: url('../img/circle_pic_two.png');
    box-shadow: inset 1px 1px 2px rgba(239,239,239,0.5);
}
/** DRINKS STYLING **/
.drinksPhoto
{
    background-image:url('../img/drinks_photo.png');
    background-position: left center;
    background-repeat: no-repeat;
    height:530px;
    width:400px;
    display:block;
}
.drinksBg
{
    background-image:url('../img/pink_stripe.png');
    background-repeat:repeat;
    background-position:top left;
    height:500px;
}
.drinksHeader {
    color:#336699;
    text-align: right;
}
.drinksText
{
    color:#444;
    text-align:right;
    font-size:18px;
}
/** EVENTS **/
.eventsBg
{
    height:700px;
    background-image:url('../img/events_bg.png');
    width:100%;
    background-size: 100% 100%;
    background-position:top left;
    background-repeat:no-repeat;
    display: block;
    box-shadow:0 -2px 4px rgba(68,68,68,0.4);

}
.eventsBox {
    margin: 0 0 0 40%;
    width:450px;
    padding:50px;
    background-color: rgba(68,68,68,0.35);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    display:block;
    position:absolute;
    top: 140px;
}
.eventsHeader {
    color:#efefef;
    text-shadow:0 -2px 2px rgba(68,68,68,0.5);
    margin-top:0;
}
.eventsText {
    color:#efefef;
    font-size:18px;
}
.funfactsBg {
    height:650px;
    background-image: url('../img/funfacts_bg.png');
    width:100%;
    background-repeat: repeat;
    display: block;
    border-bottom:2px solid #bc2e2c;
}
/** FUN FACTS**/
.funFactsHeader {
    color:#323232;
    text-align: right;
    padding-top:40px;
    text-shadow:-1px 1px 1px rgba(209,209,209,0.5);
}
.funfactsText {
    color:#bc2e2c;
    font-size:24px;
    text-shadow:1px 1px 1px rgba(209,209,209,0.5);
    text-align: right;
}
.funfactsDialler
{
    width:560px;
    height:560px;
    display: block;
    margin-top:50px;
    float:left;
}
.funfactNumber {
    width:100px;
    height:100px;
    position: absolute;
    display:block;
    border:1px solid #444;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-image: url('../img/dialler.png');
    text-align: center;
    line-height:100px;
    font-size:60px;
    font-weight: bold;
    color:#444;
    box-shadow: inset 1px 1px 2px rgba(68,68,68,0.5);
    text-shadow: 1px 1px 2px rgba(68,68,68,0.5);
    cursor: pointer;
}
.funfactsDiallerCenter {
    width:260px;
    height:260px;
    position: absolute;
    background-image: url('../img/howie_bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    left:150px;
    top:190px;
}
.funfactNumber:hover {
    background-image: url('../img/dialler_active.png');
    color:#efefef;
    text-shadow:0 -2px 1px rgba(68,68,68,0.5);
    box-shadow: inset 1px 1px 2px rgba(68,68,68,0.75);
}
.funfactActive {
    width:100px;
    height:100px;
    position: absolute;
    display:block;
    border:1px solid #444;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-image: url('../img/dialler.png');
    text-align: center;
    line-height:100px;
    font-size:60px;
    font-weight: bold;
    color:#444;
    box-shadow: inset 1px 1px 2px rgba(68,68,68,0.5);
    text-shadow: 1px 1px 2px rgba(68,68,68,0.5);
    cursor: default;
    background-image: url('../img/dialler_active.png');
    color:#efefef;
    text-shadow:0 -2px 1px rgba(68,68,68,0.5);
    box-shadow: inset 1px 1px 2px rgba(68,68,68,0.75);
}
.funfactOne
{
    top:50px;
    left:230px;
}
.funfactSix
{
    top:490px;
    left:230px;
}
.funfactTwo
{
    top:90px;
    left:380px;
}
.funfactTen
{
    top:90px;
    left:80px;
}
.funfactFive
{
    top:440px;
    left:380px;
}
.funfactSeven
{
    top:440px;
    left:80px;
}
.funfactThree
{
    top:200px;
    left:450px;
}
.funfactNine
{
    top:200px;
    left:0px;
}
.funfactFour
{
    top:330px;
    left:450px;
}
.funfactEight
{
    top:330px;
    left:0px;
}
.funfactsTextBox
{
    width:300px;
    height:560px;
    float:right;
    display:block;
    font-size:16px;
}
/** FRIENDS **/
.friendsBg {
    height:600px;
    background-image:url('../img/friends_bg.png');
    width:100%;
    background-position:top left;
    background-repeat:repeat;
    display: block;
    box-shadow: 2px 2px 4px rgba(239,239,239,0.8);
    border-bottom:2px solid rgba(239,239,239,0.5);

}
.friendsHeader {
    width:55px;
    height:100%;
    display: block;
    float:left;
    background-image: url('../img/Friends_Header.png');
    background-position: 0 50px;
    background-repeat: no-repeat;
    position: relative;
}
.friendsPanel {
    width:800px;
    height:360px;
    margin:50px 0 0 0;
    display:block;
    float:right;
}
.friendsButtonPanel {
    width:80px;
    height:360px;
    display: block;
    float:left;
}
.friendsContentPanel {
    width: 560px;
    height: 320px;
    display: block;
    float:left;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    /*background-color:rgba(255,255,255,0.5);*/
}
.friendsContent {
    width: 560px;
    height: 320px;
    display: block;
    font-size:16px;
    overflow:hidden;
}
.contentTw {
    display:none;
}
.contentFb {
    display: none;
}
.contentYp {
    display:none;
    color:#efefef;
}
.contentFq {
    display:none;
    color:#efefef;
}
.contentPt {
    width:488px;
    display:block;
    padding:0 18px 0 18px;
}
#twCont .viewport { width:530px; height: 320px; overflow: hidden; display:block;position: relative; }
#twCont .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
#twCont .scrollbar{display:block;background-color:transparent; position: relative; background-position: 0 0; float: right; width: 20px; }
#twCont .track { background-color:transparent; height: 100%; width:15px; position: relative;border-radius:7px;}
#twCont .thumb { background-color:rgba(241,161,30,1.0); height: 40px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    filter: alpha(opacity=65);
    -moz-opacity: 0.65;
    -khtml-opacity: 0.65;
    opacity: 0.65;
    box-shadow: inset 1px 1px 1px rgba(68,68,68,0.75);
    width: 15px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
#twCont .thumb .end { background-color:transparent; overflow: hidden; height: 5px; width: 25px; }

#fbCont .viewport { width:530px; height: 320px; overflow: hidden; display:block;position: relative; }
#fbCont .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
#fbCont .scrollbar{display:block;background-color:transparent; position: relative; background-position: 0 0; float: right; width: 20px; }
#fbCont .track { background-color:transparent; height: 100%; width:15px; position: relative;border-radius:7px;}
#fbCont .thumb { background-color:rgba(241,161,30,1.0); height: 40px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    filter: alpha(opacity=65);
    -moz-opacity: 0.65;
    -khtml-opacity: 0.65;
    opacity: 0.65;
    box-shadow: inset 1px 1px 1px rgba(68,68,68,0.75);
    width: 15px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
#fbCont .thumb .end { background-color:transparent; overflow: hidden; height: 5px; width: 25px; }

#fqCont .viewport { width:530px; height: 320px; overflow: hidden; display:block;position: relative; }
#fqCont .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
#fqCont .scrollbar{display:block;background-color:transparent; position: relative; background-position: 0 0; float: right; width: 20px; }
#fqCont .track { background-color:transparent; height: 100%; width:15px; position: relative;border-radius:7px;}
#fqCont .thumb { background-color:rgba(241,161,30,1.0); height: 40px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    filter: alpha(opacity=65);
    -moz-opacity: 0.65;
    -khtml-opacity: 0.65;
    opacity: 0.65;
    box-shadow: inset 1px 1px 1px rgba(68,68,68,0.75);
    width: 15px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
#fqCont .thumb .end { background-color:transparent; overflow: hidden; height: 5px; width: 25px; }

#ypCont .viewport { width:530px; height: 320px; overflow: hidden; display:block;position: relative; }
#ypCont .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
#ypCont .scrollbar{display:block;background-color:transparent; position: relative; background-position: 0 0; float: right; width: 20px; }
#ypCont .track { background-color:transparent; height: 100%; width:15px; position: relative;border-radius:7px;}
#ypCont .thumb { background-color:rgba(241,161,30,1.0); height: 40px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    filter: alpha(opacity=65);
    -moz-opacity: 0.65;
    -khtml-opacity: 0.65;
    opacity: 0.65;
    box-shadow: inset 1px 1px 1px rgba(68,68,68,0.75);
    width: 15px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
#ypCont .thumb .end { background-color:transparent; overflow: hidden; height: 5px; width: 25px; }

.friendsIcon {
    width:80px;
    height:80px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom:40px;
    background-color:rgba(255,255,255,0.5);
    cursor:pointer;
}
.friendsIconActive {
    background-color:rgba(241,161,30,0.85);
}
.friend_twitter {
    background-image: url('../img/grey_twitter.png');
    background-position:center center;
    background-repeat: no-repeat;
}
.friend_facebook {
    background-image: url('../img/grey_facebook.png');
    background-position:center center;
    background-repeat: no-repeat;
}
.friend_yelp {
    background-image: url('../img/grey_yelp.png');
    background-position:center center;
    background-repeat: no-repeat;
}
.friend_foursquare {
    background-image: url('../img/grey_foursquare.png');
    background-position:center center;
    background-repeat: no-repeat;
}
.friend_pinterest {
    background-image: url('../img/grey_pinterest.png');
    background-position:center center;
    background-repeat: no-repeat;
}
.newsPanel {
    width:800px;
    height:100px;
    display:block;
    float:right;
}
.newsPanelLeft {
    width:50px;
    height:60px;
    margin:20px 0 20px 0;
    display:block;
    float:left;
    background-image:url('../img/press_arrow_left.png');
    background-position: center center;
    background-repeat: no-repeat;
    cursor:pointer;
}
.newsPanelItem {
    height:60px;
    margin:20px 40px 20px 0;

    display:block;
}
/** ABOUT PANEL**/
.aboutBg {
    height:600px;
    width:100%;
    background-image: url('../img/ribbon.png'),url('../img/about_bg.png');
    background-repeat: repeat-x,repeat;
    background-position: bottom left,top left;
    border-bottom:2px solid #444;
}
.aboutHeader {
    color:#efefef;
    text-shadow:0 -2px 1px rgba(68,68,68,0.5);
}
.mapWrapper {
    width:400px;
    height:220px;
    display:block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position:relative;
    z-index:1;
    overflow: hidden;
    box-shadow: 2px 2px 2px rgba(68,68,68,0.5);
    background:url('../img/about_bg.png') repeat top left;
}
.aboutMap {
    width:400px;
    height:220px;
    display:block;
    position:relative;
    z-index: 0;
}
.aboutAddress {
    width:400px;
    height:54px;
    color:#efefef;
    font-size:14px;
    line-height:18px;
    display:block;
    padding-top:20px;
    text-align: center;
}
.aboutText {
    color:#efefef;
    font-size:14px;
    margin-top:130px;
    height:400px;
}
.aboutText .viewport { width:420px; height: 300px; overflow: hidden; display:block;position: relative; }
.aboutText .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
.aboutText .scrollbar{display:block;background-color:transparent; position: relative; background-position: 0 0; float: right; width: 20px; }
.aboutText .track { background-color:transparent; height: 100%; width:15px; position: relative;border-radius:7px;}
.aboutText .thumb { background-color:#ca4040; height: 40px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    filter: alpha(opacity=65);
    -moz-opacity: 0.65;
    -khtml-opacity: 0.65;
    opacity: 0.65;
    box-shadow: inset 1px 1px 1px rgba(68,68,68,0.75);
    width: 15px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
.aboutText .thumb .end { background-color:transparent; overflow: hidden; height: 5px; width: 25px; }

/**FOOTER**/
.footer {
    width:100%;
    height:80px;
    display: block;
    background-color: #0a0a0a;
}
.lcc_socIcons {
    width:320px;
    height:42px;
    padding: 21px 0 0 0;
    display:block;
    float:right;
    text-align: center;
    float:right;
}
.lcc_copy {
    height:80px;
    line-height: 80px;
    display:block;
    color:#efefef;
    float:left;
    font-size:12px;
}
.lcc_icon {
    margin:0 10px 10px 10px;
    width:32px;
    height:32px;
    display:block;
    float:left;
    cursor:pointer;
}
.lcc_icon a {
    width:32px;
    height:32px;
    display:block;
}
.lcc_fb
{
    background-image: url('../img/icon_facebook.png');
}
.lcc_tw
{
    background-image: url('../img/icon_twitter.png');
}
.lcc_em
{
    background-image: url('../img/icon_email.png');
}
.lcc_yp
{
    background-image: url('../img/icon_yelp.png');
}
.lcc_fs
{
    background-image: url('../img/icon_foursquare.png');
}
.lcc_fl
{
    background-image: url('../img/icon_flickr.png');
}

/**TWITTER FEED**/
.twtr-hd {display:none;}
.twitter-timeline{display:none;}
.twtr-tweet{font-size:16px;border:0;border-bottom:1px solid #3D60A9;}
.twtr-img{width:35px;height:35px;overflow:hidden;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;box-shadow:1px 1px 1px rgba(68,68,68,0.5);}

/**FACEBOOK FEED**/
.commentas_inner{color:#efefef;}
.fbFeedbackContent .composer {background-color:transparent;}

/**YELP FEED**/
.yp_review {
    width:520px;
    min-height:80px;
    padding: 6px 8px;
    font-size:16px;
    border-bottom:1px dotted #efefef;
}
.yp_left{
    width:60px;
    height:80px;
    display:block;
    float:left;
}
.yp_name {
    width:50px;
    margin-left:10px;
    display:inline-block;
    font-size:10px;
}
.yp_photo {
    width:40px;
    height:40px;
    margin:0 10px;
    display:block;
    background-position:center center;
    background-repeat: no-repeat;
    box-shadow:1px 1px 1px rgba(68,68,68,0.5);
    background-size:40px 40px;
    -webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;
}
.yp_text {
    width:460px;
    min-height:60px;
    display:block;
    float:left;
}
.yp_rating {
   color:rgba(241,161,30,0.85);
   font-weight:bold;
   margin-right:5px;
   display:inline;
}
.yp_footer {
    color:rgba(241,161,30,0.85);
    font-size:11px;
    height:20px;
    line-height:20px;
    display:block;
    width:460px;
}
/**PINTEREST STYPING**/

/**NEWS LOGOS**/
.today {
    background-image:url('../img/press/today.png');
}
.nyt {
    background-image:url('../img/press/nyt.png');
}
.ny1 {
    background-image:url('../img/press/ny1.png');
}
.vvoice {
    background-image:url('../img/press/vvoice.png');
}
.dnainfo {
    background-image:url('../img/press/dnainfo.png');
}
.bbcamerica {
    background-image: url('../img/press/bbcamerica.png');
}
.nyorker {
    background-image: url('../img/press/nyorker.png');
}
.nyp {
    background-image: url('../img/press/nyp.png');
}
.favandco {
    background-image: url('../img/press/favandco.png');
}
 /** SCROLLER **/
/* Container DIV - automatically generated */
.simply-scroll-container {
    position: relative;
}

/* Clip DIV - automatically generated */
.simply-scroll-clip {
    position: relative;
    overflow: hidden;
}

/* UL/OL/DIV - the element that simplyScroll is inited on
Class name automatically added to element */
.simply-scroll-list {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
}

.simply-scroll-list li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.simply-scroll-list li a {
    border: none;
    display: block;
    width:100px;
    height:100px;
    background-position: center center;
    background-repeat: no-repeat;
}

/* Custom class modifications - adds to / overrides above

.simply-scroll is default base class */

/* Container DIV */
.simply-scroll {
    width: 800px;
    height: 100px;
}

/* Clip DIV */
.simply-scroll .simply-scroll-clip {
    width: 800px;
    height: 100px;
}

/* Explicitly set height/width of each list item */
.simply-scroll .simply-scroll-list li {
    float: left; /* Horizontal scroll only */
    width: 100px;
    height: 100px;
    margin:0 20px 0 20px;
}
